
.login-container{
    background-color: aqua;
    /* width: 100vw; 
    height: 100vh;  */
    /* background-image: url('./assets/logIn.jpeg'); 
    background-size: cover;  */
    /* background-position: center;  */
    /* background-repeat: no-repeat;  */
    /* background-attachment: fixed;  */
}